<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row mb-5">
  <div class="col-md-10 offset-md-1">
    <h4><span class="title" style="background-color: #f5f5f5">会員情報編集</span></h4>
  </div>
</div>


<%= form_with model: @customer, url: '/customers/infomation', method: :patch, local: true do |f| %>

<table class = "table table-borderless" >
  <tr>
   <td>氏名</td>
   <td><%= f.text_field :last_name, autofocus: true %>
       <%= f.text_field :first_name %></td>
  </tr>
  <tr>
   <td>カナ</td>
   <td><%= f.text_field :last_furigana %>
       <%= f.text_field :first_furigana %> </td>
  </tr>
  <tr>
   <td>郵便番号</td>
   <td><%= f.text_field :postal %></td>
  </tr>
  <tr>
   <td>住所</td>
   <td><%= f.text_field :address, :size=>"46" %></td>
  </tr>
  <tr>
   <td>電話番号</td>
   <td><%= f.text_field :tel %></td>
  </tr>
  <tr>
   <td>メールアドレス</td>
   <td><%= f.email_field :email %></td>
  </tr>
</table>

<div class = "row" >
  <div class = "col-3 ml-5" >
    <%= f.submit "編集内容を保存", class: "btn btn-success" %>
  </div>
  <div class = "col-2"></div>
    <%= link_to "退会する", customers_confirm_path(current_customer), class: "btn btn-danger" %>
  </div>
</div>

<% end %>