<h2>マイページ</h2>
 <h4>登録情報 <%= link_to "編集する", edit_customer_path(@customer) %></h4>

 氏名:<%= @customer.last_name %> <%= @customer.first_name %><br>
 カナ:<%= @customer.last_furigana %> <%= @customer.first_furigana %><br>
 郵便番号:<%= @customer.postal %><br>
 住所:<%= @customer.address %><br>
 電話番号:<%= @customer.tel %><br>
 メールアドレス:<%= @customer.email %><br>

 <h4>配送先 <%= link_to "一覧を見る", destinations_path %></h4>
 <h4>注文履歴 <%= link_to "一覧を見る", orders_path %></h4>
