<div class = "ml-5 mb-4 ">
 <h5>マイページ</h5>
</div>

<div class = "row" >
 <div class ="col-2" >
  <div class = "mt-2 mb-3"><h5>登録情報</h5></div>
 </div>
 <div class = "col-3" >
  <div class = ><%= link_to "編集する", edit_customer_path(@customer.id), class: 'btn btn-success' %></div>
 </div>
</div>

<div class = "row mt-4" >
 <div class = "col-7" >
  <table class = "table table-bordered">
   <tr>
    <td>氏名</td>
    <td><%= @customer.last_name %> <%= @customer.first_name %></td>
   </tr>
   <tr>
    <td>カナ</td>
    <td><%= @customer.last_furigana %> <%= @customer.first_furigana %></td>
   </tr>
   <tr>
    <td>郵便番号</td>
    <td><%= @customer.postal %></td>
   </tr>
   <tr>
    <td>住所</td>
    <td><%= @customer.address %></td>
   </tr>
   <tr>
    <td>電話番号</td>
    <td><%= @customer.tel %></td>
   </tr>
   <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
   </tr>
  </table>
 </div>
</div>

<div class = "row">
 <div class = "col-2" >
  <div class ="mt-2 mb-3"><h5>配送先</h5></div>
 </div>
 <div class = "col-4" >
  <div class ><%= link_to "一覧を見る", destinations_path, class: "btn btn-primary" %></div>
 </div>
</div>
<div class ="row" >
 <div class = "col-2" >
  <div class ="mt-2 mb-3"><h5>注文履歴</h5></div>
 </div>
 <div class = "col-3" >
  <div class ><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %></div>
 </div>
</div>