<div class = "container">
  <h2 class="mb-5">注文履歴詳細</h2>
  <table>
    <tr>
      <td>購入者</td>
      <td>注文日</td>
      <td>配送先</td>
      <td>支払方法</td>
      <td>注文</td>
    </tr>
    <tr>
      <td><%= @order.customer.last_name %></td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= @order.shipping_postal%><%= @order.shipping_address %></td>
      <td><%= @order.shipping_name %></td>
      <td><%= @order.payment %></td>
      <td><%= f.collection_select :order_status, Order.all, :id, :order_status %></td>
      <td><%= f.submit '更新', class:"btn btn-success" %></td>
    </tr>
  </table>
  <table class='table table-hover table-inverse'>
    <tr>
      <th>商品名</th>
      <th>単価(税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
    <% @Ditails.each do |ditail| %>
    <tr>
      <td><%= ditail.item.item_name %></td>
      <td><%= ditail.item.with_tax_price %></td>
      <td><%= ditail.amount %></td>
      <!--<td>><#%= ditail.item.with_tax_price * ditail.amount %></td>-->
      <td><%= ditail.item.subtotal%></td>
      <!--% @total +=  ditail.item.subtotal %>-->
      <td><%= f.collection_select :item_status, Ditails.all, :id, :item_status %></td>
      <td><%= f.submit '更新', class:"btn btn-success" %></td>
    </tr>
    <% end %>
  </table>
  <table>
    <tr>
      <td>商品合計</td>
      <td>送料</td>
      <td>請求金額合計</td>
    </tr>
    <tr>
      <td><%= @ditail.price %></td>
      <td><%= @order.postage %></td>
      <td><%= @order.total %></td>
    </tr>
  </table>
</dev