<% if @destination.errors.any? %>
  <%= @destination.errors.count %>件のエラーが発生しました
  <ul>
    <% @destination.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="row mb-5">
  <div class="col-md-10 offset-2">
    <h4><span class="title" style="background-color: #f5f5f5">注文情報入力</span></h4>
  </div>
</div>

<%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
<div class="row">
  <div class="col-md-12">
    <h5 class="title" style="font-weight: bold;">支払方法</h5>

    <div class="col-md-11">
      <%= f.radio_button :payment, Order.payments.key(0) %>
      <%= f.label :payment, Order.payments_i18n[:credit_card] %>
    </div>
    <div class="col-md-11">
      <%= f.radio_button :payment, Order.payments.key(1) %>
      <%= f.label :payment, Order.payments_i18n[:transfer]%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5 class="title" style="font-weight: bold;">お届け先</h5>

      <div class="col-md-11">
        <%= f.radio_button :dest, "0" , {:checked => true} %>
        <%= f.label :dest, "ご自身の住所", value: 0 %><br>
        <%= current_customer.address_display %><br><%= current_customer.name_display %>
      </div>
      <div class="col-md-11">
        <%= f.radio_button :dest, "1" %>
        <%= f.label :dest, "登録先住所から選択", value: 1 %><br>
        <%#= f.collection_select(:registered, current_customer.destinations.all, :id, :destination_display) %>
        <%= f.select :destination, options_from_collection_for_select(Destination.all, :id, :destination_display) %>
      </div>
      <div class="col-md-11">
        <%= f.radio_button :dest, "2" %>
        <%= f.label :dest, "新しいお届け先", value: 2 %>

      <table class="table table-borderless">
        <tr>
          <td class="col-md-3"><%= f.label :shipping_postal, "郵便番号(ハイフンなし)" %></td>
          <td class="col-md-8"><%= f.text_field :shipping_postal %></td>
        </tr>
        <tr>
          <td class="col-md-3"><%= f.label :shipping_address, "住所" %></td>
          <td class="col-md-8"><%= f.text_field :shipping_address %></td>
        </tr>
        <tr>
          <td class="col-md-3"><%= f.label :shipping_name, "宛名" %></td>
          <td class="col-md-8"><%= f.text_field :shipping_name %></td>
        </tr>
      </table>
      </div>
  </div>

    <div class="mx-auto">
      <span><%= f.submit "確認画面へ進む", class: "btn btn-primary" %></span>
    </div>
  </div>
</div>
<% end %>