<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
          <a class=navbar-brand href="/">
            ながのCAKE(ロゴに置き換え予定)
          </a>

          <% if customer_signed_in? %>
          <div class="collapse navbar-collapse justify-content-around" id="navbarNav4">
            <span class="navbar-text">
              ようこそ、<%= current_customer.last_name %>さん！
            </span>
          </div>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if customer_signed_in? %>
              <li>
                <%= link_to customers_path, class: "nav-link text-dark" do %>
                <i class="fa-solid fa-user"></i>
                マイページ
                <% end %>
              </li>
              <li>
                <%= link_to items_path, class: "nav-link text-dark" do %>
                <i class="fa-solid fa-cake-slice"></i>
                商品一覧
                <% end %>
              </li>
              <li>
                <%= link_to cart_items_path, class: "nav-link text-dark" do %>
                <i class="fa-solid fa-cart-shopping"></i>
                カート
                <% end %>
              </li>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-dark" do %>
                <i class="fa-solid fa-right-from-bracket"></i>
                ログアウト
                <% end %>
              </li>

            <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div class="border border-secondary"></div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container mt-5"></div>
    </footer>
  </body>
</html>
